#!/usr/bin/python3

PACKAGE = "bevfusion"

from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()
gen.add(
    "seg_drivable_threshold",
    double_t,
    1,
    "Drivable-area sigmoid probability threshold",
    0.80,
    0.0,
    1.0,
)
gen.add(
    "seg_walkway_threshold",
    double_t,
    4,
    "Walkway sigmoid probability threshold",
    1.0,
    0.0,
    1.0,
)
gen.add(
    "seg_divider_threshold",
    double_t,
    2,
    "Lane-divider sigmoid probability threshold",
    0.55,
    0.0,
    1.0,
)

exit(gen.generate(PACKAGE, "bevfusion", "GdutSegThresholds"))
